<div class="row justify-content-center">
	<div class="col-md-8">
		<%= form_for(setup_flight(@flight)) do |f| %>

			<%= render 'shared/error_messages', object: f.object %>
      
      <% if @flight.new_record? %>
      <%= f.hidden_field(:traveler_id, value: @traveler.id ) %>
      <% end %>
      
      <div class="card">
        <div class="card-header">Arrival or Departure</div>
        <div class="card-body">
          <div class="form-row">
            <table class="checkboxes">
              <tr>
                <td><%= f.radio_button(:is_event_arrival, true, checked: is_arrival(f.object)) %></td>
                <td><%= f.label(:is_event_arrival_true, "<strong>Arrival</strong>".html_safe + " – this flight brings #{@traveler.traveler_name} to #{@event.event_name}") %></td>
              </tr>
              <tr>
                <td><%= f.radio_button(:is_event_arrival, false, checked: !is_arrival(f.object)) %></td>
                <td><%= f.label(:is_event_arrival_false, "<strong>Departure</strong>".html_safe + " – this flight takes #{@traveler.traveler_name} home from #{@event.event_name}") %></td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header">Airline and Flight Number</div>
        <div class="card-body">
          <div class="row">
            <%= f.fields_for :airline do |f_airline| %>
            <div class="col-auto">
              <% if f_airline.object.iata_code? || f_airline.object.new_record? %>
                <%= f_airline.label :iata_code, "Airline code" %>
                <%= f_airline.text_field :iata_code, class: "form-control code airline-code", maxlength: 2, placeholder: "AA" %>
              <% else %>
                <%= f_airline.label :icao_code, "Airline ICAO code" %>
                <%= f_airline.text_field :icao_code, class: "form-control code airline-code", maxlength: 3, placeholder: "AAA" %>
              <% end %>
            </div>
            <% end %>
            <div class="col-auto">
              <%= f.label :flight_number %>
              <%= f.text_field :flight_number, class: "form-control flight-number", maxlength: 4, placeholder: "1234" %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">From Airport (Origin)</div>
        <div class="card-body">
          <div class="row">
            <%= f.fields_for :origin_airport do |f_orig| %>
            <div class="col-auto">
              <% if f_orig.object.iata_code || f_orig.object.new_record? %>
                <%= f_orig.label :iata_code, "Code" %>
                <%= f_orig.text_field :iata_code, class: "form-control code airport-code", maxlength: 3, placeholder: "ABC" %>
              <% else %>
                <%= f_orig.label :icao_code, "ICAO code" %>
                <%= f_orig.text_field :icao_code, class: "form-control code airport-code", maxlength: 4, placeholder: "ABCD" %>
              <% end %>
            </div>
            <% end %>      
            <div class="col-auto">
              <%= f.label :origin_time, "Departure date/time (local)" %>
              <%= f.datetime_field :origin_time, type: 'datetime', value: time_field_value_in_local(f.object.origin_time, f.object.origin_airport), class: 'form-control date-field', placeholder: "yyyy-mm-dd hh:mm" %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card">
        <div class="card-header">To Airport (Destination)</div>
        <div class="card-body">
          <div class="row">
            <%= f.fields_for :destination_airport do |f_dest| %>
            <div class="col-auto">
              <% if f_dest.object.iata_code || f_dest.object.new_record? %>
                <%= f_dest.label :iata_code, "Code" %>
                <%= f_dest.text_field :iata_code, class: "form-control code airport-code", maxlength: 3, placeholder: "XYZ" %>
              <% else %>
                <%= f_dest.label :icao_code, "ICAO code" %>
                <%= f_dest.text_field :icao_code, class: "form-control code airport-code", maxlength: 4, placeholder: "WXYZ" %>
              <% end %>
            </div>
            <% end %>
            <div class="col-auto">
              <%= f.label :destination_time, "Arrival date/time (local)" %>
              <%= f.datetime_field :destination_time, type: 'datetime', value: time_field_value_in_local(f.object.destination_time, f.object.destination_airport), class: 'form-control date-field', placeholder: "yyyy-mm-dd hh:mm" %>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col">
          <%= f.submit yield(:form_button), class: "btn btn-primary w-100" %>
        </div>
      </div>
      
    <% end %>
    
  </div>
</div>
