<% provide(:title, 'Sign Up')%>
<h1>Sign Up</h1>

<div class="row">

</div>

<div class="row justify-content-center">
	<div class="col-md-6">
		<div class="alert alert-warning">Shared itinerary is not currently accepting new users.</div>
		<div class="alert alert-info">If you already have an account, you can <%= link_to "log in", login_path, class: "prominent" %> instead!</div>

    <% if false %>
    <%= form_for(@user) do |f| %>
    
			<%= render 'shared/error_messages', object: f.object %>
			
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>
			
			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>
			
			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
			
			<%= f.label :password_confirmation, "Confirm Password" %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>
			
			<%= f.submit "Create my account", class: "btn btn-primary" %>
			
		<% end %>
		<% end %>
	</div>
</div>