<% provide(:title, 'Edit Itinerary')%>
<h1>Edit Itinerary</h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@section) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			
			<%= f.hidden_field :event, value: params[:event] %>
			
			<%= render 'form_fields', :f => f %>

			<%= f.label :pickup_info %> (who is this traveler riding with <%= @to_from_text %> the airport?)
			<%= f.text_field :pickup_info, class: 'form-control' %>
			
			<% if @show_arrival_departure %>
				<%= f.label :is_arrival, 'Arrival or Departure?' %>
				<%= f.select :is_arrival, options_for_select([['Arrival', true],['Departure', false]]) %>
	
			<% else %>
				<%= f.hidden_field :is_arrival %>

			<% end %>
			
			<%= f.submit "Update traveler info", class: "btn btn-primary" %>
			
		<% end %>
	</div>
</div>

<hr />
<div>
	<%= link_to "<span class=\"glyphicon glyphicon-trash\"></span> Delete this itinerary".html_safe, @section, method: :delete, data: { confirm: "Are you sure you want to delete this itinerary?"}, class: "btn btn-danger" %>
</div>