<% provide(:title, @title_text)%>
<h1><%= @title_text %></h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@section) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			
			<%= f.label :traveler_name %>
			<%= f.text_field :traveler_name, class: 'form-control' %>
			
			<%= f.label :traveler_note %> (department, nickname, etc.)
			<%= f.text_field :traveler_note, class: 'form-control' %>
			
			<%= f.label :pickup_info %> (who is this traveler riding with from/to the airport?)
			<%= f.text_field :pickup_info, class: 'form-control' %>
			
			<% if @show_arrival_departure %>
				<%= f.label :is_arrival %>
				<%= f.radio_button(:is_arrival, "true") %> <%= f.label(:is_arrival, "Arrival") %>
				<%= f.label :is_arrival %>
				<%= f.radio_button(:is_arrival, "false") %> <%= f.label(:is_arrival, "Departure") %>
				<!-- Fix radio button labels -->
			<% else %>
			
			<% end %>
			
			<%= f.submit "Create my event", class: "btn btn-primary" %>
			
		<% end %>
	</div>
</div>