<% provide(:title, @title_text)%>
<h1><%= @title_text %></h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@section) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			
			<%= f.hidden_field :event, value: params[:event] %>
			
			<%= f.label :traveler_name %>
			<%= f.text_field :traveler_name, class: 'form-control' %>
			
			<%= f.label :traveler_note %> (department, nickname, etc.)
			<%= f.text_field :traveler_note, class: 'form-control' %>
			
			<%= f.label :pickup_info %> (who is this traveler riding with <%= @to_from_text %> the airport?)
			<%= f.text_field :pickup_info, class: 'form-control' %>
			
			<% if @show_arrival_departure %>
				<%= f.label :is_arrival, 'Arrival or Departure?' %>
				<%= f.select :is_arrival, options_for_select([['Arrival', true],['Departure', false]]) %>
				
			<% else %>
				<%= f.hidden_field :is_arrival, value: @is_arrival %>
			
			<% end %>
			
			<p>You will be able to add flights after you create this itinerary.</p>
			
			<%= f.submit "Create itinerary", class: "btn btn-primary" %>
			
		<% end %>
	</div>
</div>