<div class="row justify-content-center">
	<div class="col-md-6">
		<%= form_for(@event) do |f| %>
    
			<%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :event_name %>
      <%= f.text_field :event_name, class: 'form-control' %>

      <%= f.label :city, "Event city" %> <%= image_tag("powered_by_google_on_white.png", class: "logo-right") %>
      <%= f.text_field :city, class: "form-control" %>

      <script>
        $( function() {
          var location_field = $("#event_city")
          location_field.autocomplete({
            source: "/api/google-places/<%= @google_session %>",
            focus: function(event, ui) {
              location_field.val(ui.item.label);
              event.preventDefault();
            },
            select: function(event, ui) {
              location_field.val(ui.item.label);
              var url = "/api/google-timezone/"+ui.item.value+"/<%= @google_session %>";
              $.getJSON(url, function(data) {
                var timeZoneId = data.timeZoneId;
                $("#event_timezone").val(timeZoneId);
              });
              event.preventDefault();
            }
          });
        } );
      </script>
      
      
      <%= f.label :timezone, "What time zone does the event take place in?" %>
      <%= f.select :timezone, Timezones::select_options, {include_blank: true}, {class: "form-control"} %>
            
      <div class="form-group">
        <%= f.label :note, ActiveSupport::SafeBuffer.new + "Note " + content_tag(:small, ActiveSupport::SafeBuffer.new + "(optional) (supports " + link_to("Markdown", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet", target: :_blank) + ")") %>
        <%= f.text_area :note, class: 'form-control', rows: 5 %>
      </div>
      
			<%= f.submit yield(:form_button), class: "btn btn-primary" %>

		<% end %>

	</div>
</div>