<div class="row justify-content-center">
	<div class="col-md-6">
		<%= form_for(@event) do |f| %>
    
			<%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :event_name %>
      <%= f.text_field :event_name, class: 'form-control' %>

      <%= f.label :timezone, "What time zone does the event take place in?" %>
      <%= f.select :timezone, Timezones::select_options, {include_blank: true}, {class: "form-control"} %>
      
      <div class="form-group">
        <%= f.label :note, "Note <small>(optional) (supports #{link_to("Markdown", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet")})".html_safe %>
        <%= f.text_area :note, class: 'form-control', rows: 5 %>
      </div>
      
			<%= f.submit yield(:form_button), class: "btn btn-primary" %>

		<% end %>

	</div>
</div>