<div class="row justify-content-center">
	<div class="col-md-6">
		<%= form_for(@event) do |f| %>
    
			<%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :event_name %>
      <%= f.text_field :event_name, class: 'form-control' %>

      <label for="location">Event city</label>
      <input type="text" id="location" class="form-control autocomplete-field"></input>

      <script>
        $( function() {
          var availableTags = [
            "Albuquerque",
            "Boston",
            "Cincinnati",
            "Denver",
            "Euclid",
            "Fort Lauderdale",
            "Green Bay"
          ];
          $("#location").autocomplete({
            source: "/api/google-places/"
          });
        } );
      </script>
      
      
      <%= f.label :timezone, "What time zone does the event take place in?" %>
      <%= f.select :timezone, Timezones::select_options, {include_blank: true}, {class: "form-control"} %>
            
      <div class="form-group">
        <%= f.label :note, "Note <small>(optional) (supports #{link_to("Markdown", "https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet")})".html_safe %>
        <%= f.text_area :note, class: 'form-control', rows: 5 %>
      </div>
      
			<%= f.submit yield(:form_button), class: "btn btn-primary" %>

		<% end %>

    <input type="text" id="address" style="width: 500px;"></input>

        <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=<%= ENV["GOOGLE_MAPS_API_KEY"] %>&libraries=places&language=en-US&types=(cities)"></script>
        <script>
            var autocomplete = new google.maps.places.Autocomplete($("#address")[0], {});

            google.maps.event.addListener(autocomplete, 'place_changed', function() {
                var place = autocomplete.getPlace();
                console.log(place);
                console.log(place.geometry.location.lat());
                console.log(place.geometry.location.lng());
            });
        </script>

	</div>
</div>