<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@event) do |f| %>
    
			<%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :event_name %>
      <%= f.text_field :event_name, class: 'form-control' %>
      
      <%= f.label :timezone, "Event Timezone" %>
      <%= f.select(:timezone, TZInfo::Timezone.all, {selected: @event.timezone || "UTC"}) %>

      <%= f.label :arriving_timezone %>
      <%= f.text_field :arriving_timezone, class: 'form-control' %>

      <%= f.label :departing_timezone %>
      <%= f.text_field :departing_timezone, class: 'form-control' %>
      
      <%= f.label :note, "Note (optional) "%> (supports <%= link_to "Markdown", 'https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet' %>)
      <%= f.text_area :note, class: 'form-control', rows: 5 %>
      
			<%= f.submit yield(:form_button), class: "btn btn-primary" %>

		<% end %>

	</div>
</div>

<input id="autocomplete" placeholder="Enter your address" type="text"></input>

<script>

  var autocomplete;
 
  function initAutocomplete() {
    // Create the autocomplete object, restricting the search to geographical
    // location types.
    autocomplete = new google.maps.places.Autocomplete(
        /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
        {types: ['geocode']});

    // When the user selects an address from the dropdown, populate the address
    // fields in the form.
    autocomplete.addListener('place_changed', processLocation);
  }

  function processLocation() {
    /* Do some stuff with the location */
  }

  
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpn9HzEqNSgk9xvU49biL_XEqdliDccys&libraries=places&callback=initAutocomplete" async defer></script>