<% if itineraries.any? %>
<table class="table">
	<thead>
		<th class="event-traveler">Traveler</th>
		<th class="event-flights">Flights</th>
		<th class="event-pickup-info">Pickup Info</th>
	</thead>
	<% itineraries.each do |traveler| %>
		<tr id="s-<%= traveler[:traveler][:id] %>">
			
			<td>
				<span class="traveler-name"><%= traveler[:traveler].traveler_name %></span>
        <% if current_user?(@event.user) %>
          <div class="edit-button">
            <%= link_to("<span class=\"glyphicon glyphicon-pencil\"></span> <span class=\"glyphicon glyphicon-user\"></span>".html_safe, edit_traveler_path(traveler[:traveler]), title: "Edit #{traveler[:traveler].traveler_name}", class: "btn btn-default") %>
          </div>
        <% end %>
        <br />
				<span class="traveler-note"><%= traveler[:traveler].traveler_note %></span>
			</td>
			
			<td>
        <% traveler[:flights].each_with_index do |flight, index| %>
          <div class="flight">
            <% if current_user?(@event.user) %>
              <div class="btn-group-vertical edit-button">
                <%= link_to("<span class=\"glyphicon glyphicon-pencil\"></span> <span class=\"glyphicon glyphicon-plane\"></span>".html_safe, edit_flight_path(flight[:id]), title: "Edit #{flight.airline_name} #{flight[:flight_number]}", class: "btn btn-default") %>
                <% if index == traveler[:flights].size - 1 %>
                  <%= link_to("<span class=\"glyphicon glyphicon-plus\"></span> <span class=\"glyphicon glyphicon-plane\"></span>".html_safe, new_flight_path(traveler: traveler[:traveler]), title: "Add a new flight to #{traveler[:traveler].traveler_name}’s itinerary", class: "btn btn-default") %>
                <% end %>
              </div>
            <% end %>
              
            <span class="flight-time"><%= flight_times(flight.departure_datetime, flight.arrival_datetime) %></span>
            <span class="flight-timezone"><%= traveler[:timezone] %></span>
            <br/>
            <span class="flight-airports"><%= flight.dep_airport_name %> &ndash; <%= flight.arr_airport_name %></span><br/>
            <span class="flight-number"><%= flight.airline_name %> <%= flight.flight_number %></span>
          </div>
        <% end %>
				<% if current_user?(@event.user) && traveler[:flights].empty? %>
          <%= link_to("<span class=\"glyphicon glyphicon-plus\"></span> <span class=\"glyphicon glyphicon-plane\"></span>&ensp;Add a flight".html_safe, new_flight_path(traveler: traveler[:traveler]), title: "Add a new flight to #{traveler[:traveler].traveler_name}’s itinerary", class: "btn btn-default") %>
          
        <% end %>
			</td>
      
			<td>
				<%= traveler[:pickup_info] %>
			</td>
      
		</tr>
	<% end %>
</table>
<% end %>