<% if itineraries.any? %>
<table class="table">
	<thead>
		<th class="event-traveler">Traveler</th>
		<th class="event-pickup-info">Pickup Info</th>
		<th class="event-flights">Flights</th>
		<th class="event-tools">Tools</th>
	</thead>
	<% itineraries.each do |section| %>
		<tr>
			
			<td>
				<%= section.traveler_name %><br />
				<span class="traveler-note"><%= section.traveler_note %></span>
				
			</td>
			
			<td>
				<%= section.pickup_info %>
			</td>
			<td>
				<%= link_to('Add Flight', new_flight_path(section: section), class: "btn btn-primary btn-sm") %>
			</td>
			<td width="50px">
				<%= link_to('Edit', edit_section_path(section), class: "btn btn-primary btn-sm") %>
			</td>
		</tr>
	<% end %>
</table>
<% end %>