<% filtered_flights = traveler.flights.where(is_arrival: is_arrival).chronological %>
<div class="flight">
  <table class="flight">
    
    <% filtered_flights.each_with_index do |flight, index| %>
    
    <tr>
      <td class="flight-identifier">
        <%= airline_icon(flight.airline.iata_code, show_blank_icon: false) %>
        <div class="flight-airline"><%= flight.airline_name %></div>
        <div class="flight-number"><%= flight.flight_number %></div>
        <% if current_user?(@event.user) %>
          <div class="btn-group flight-edit">
            <%= link_to("<span class=\"glyphicon glyphicon-pencil\"></span> <span class=\"glyphicon glyphicon-plane\"></span>".html_safe, edit_flight_path(flight[:id]), title: "Edit #{flight.airline_name} #{flight[:flight_number]}", class: "btn btn-default") %>
          </div>
        <% end %>
      </td>
      <td class="flight-airport flight-origin"<%= highlight(@airport_colors[flight.dep_airport_iata]) if !is_arrival && index == 0 %>>
        <div class="flight-city"><%= flight.dep_airport_city %></div>
        <div class="flight-iata"><%= flight.dep_airport_iata %></div>
        <div class="flight-date-time">
          <%= short_date(flight.departure_datetime) %><br/>
          <%= short_time(flight.departure_datetime) %> <span class="time-zone"><%= @event.timezone || "UTC" %>
        </div>
      </td>
      <td class="flight-separator">
        <span class="glyphicon glyphicon-arrow-right"></span>
      </td>
      <td class="flight-airport flight-destination"<%= highlight(@airport_colors[flight.arr_airport_iata]) if is_arrival && index == filtered_flights.length-1 %>>
        <div class="flight-city"><%= flight.arr_airport_city %></div>
        <div class="flight-iata"><%= flight.arr_airport_iata %></div>
        <div class="flight-date-time">
          <%= short_date(flight.arrival_datetime) %><br/>
          <%= short_time(flight.arrival_datetime) %> <span class="time-zone"><%= @event.timezone || "UTC" %></span>
        </div>
      </td>
    </tr>
    
    <% end %>
    
    <% if current_user?(@event.user) %> 
    <tr>
      <td colspan="4" class="flight-new-button">
        <%= link_to("<span class=\"glyphicon glyphicon-plus\"></span> <span class=\"glyphicon glyphicon-plane\"></span> Add #{is_arrival ? "an arrival" : "a departure"} flight for #{traveler.traveler_name}".html_safe, new_flight_path(traveler: traveler, direction: is_arrival ? :arrival : :departure), title: "Add a new flight to #{traveler.traveler_name}’s itinerary", class: "btn btn-default") %>
      </td>
    </tr>
    <% end %>
    
  </table>
</div>