<div class="col-lg-6">
  <div class="card">
    <h4 class="card-header"><%= traveler_direction_title(direction, @event.event_name) %></h4>
    <ul class="list-group list-group-flush">
    <% last_destination_code = nil %>
    <% last_destination_time = nil %>
    <% traveler[direction][:flights].each_with_index do |flight, index| %>
      <% if index > 0 && flight[:origin_code] != last_destination_code %>
        <li class="list-group-item list-group-item-warning">
          <strong>Change airports:</strong> <%= last_destination_code %> to <%= flight[:origin_code] %> (<%= elapsed_time(last_destination_time..flight[:origin_time_utc]) %>)
        </li>
      <% end %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3 flight-identifier">
            <%= airline_icon(flight[:airline_icao], show_blank_icon: false) %>
            <div class="flight-number"><%= flight[:airline_name] %> <%= flight[:flight_number] %></div>
            <% if current_user?(@event.user) %>
            <div class="flight-edit">
              <%= link_to("Edit", edit_flight_path(flight[:id]), title: "Edit #{flight[:airline_name]} #{flight[:flight_number]}", class: "edit-link") %>
            </div>
            <% end %>
            
          </div>
          <div class="col-md-9">
            <div class="row">
              <div class="col-5 flight-origin rounded"<%= highlight(@airport_colors[flight[:origin_code]]) if direction == :departures && index == 0 %>>
                <div class="flight-code"><%= flight[:origin_code] %></div>
                <div class="flight-city"><%= flight[:origin_name] %></div>
                <div class="flight-date-time">
                  <%= short_date(flight[:origin_time_local]) %><br/>
                  <%= short_time(flight[:origin_time_local]) %> <span class="time-zone"><%= flight[:origin_time_local].strftime("%Z") %></span>
                </div>
              </div>
              <div class="col-2 flight-separator">
                <%= octicon("arrow-right") %>
              </div>
              <div class="col-5 flight-destination rounded"<%= highlight(@airport_colors[flight[:destination_code]]) if direction == :arrivals && index == traveler[direction][:flights].length-1 %>>
                <div class="flight-code"><%= flight[:destination_code] %></div>
                <div class="flight-city"><%= flight[:destination_name] %></div>
                <div class="flight-date-time">
                  <%= short_date(flight[:destination_time_local]) %><br/>
                  <%= short_time(flight[:destination_time_local]) %> <span class="time-zone"><%= flight[:destination_time_local].strftime("%Z") %></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <% last_destination_code = flight[:destination_code] %>
      <% last_destination_time = flight[:destination_time_utc] %>
    <% end %>
    </ul>

    <% unless traveler[direction][:info].blank? %>
      <div class="card-footer"><%= traveler[direction][:info] %></div>
    <% end %>
  </div>
</div>