<% provide(:title, @event.event_name)%>
<% provide(:meta_description, "See when everyone arrives at and departs from #{@event.event_name}.")%>

<% if current_user?(@event.user) %>
  <div class="row center">

  <%= form_for(:event, url: update_share_link_path, html: { class: "form-inline" } ) do |f| %>
    
    <div class="input-group">
      <%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span> Edit #{@event.event_name} information".html_safe, edit_event_path(@event), class: "btn btn-primary" %> 
    </div>
    
    <div class="input-group">
      <div class="input-group-addon">
        Share:
      </div>
      <%= f.label :share_link, class: "sr-only" %>
      <%= f.text_field :share_link, class: "form-control", value: @share_link, style: "width: 450px" %>
    </div>
    <div class="input-group">
      <%= f.submit "Generate new share link", class: "btn btn-default", data: { confirm: "Are you sure you want to generate a new share link? Anyone with the current link will no longer be able to see this page." } %>
    </div>
    
  <% end %>
  </div>
<% end %>

<h1><%= @event.event_name %></h1>

<% if @event.note? %>
  <div class="alert alert-info event-info"><%= markdown_text(@event.note) %></div>
<% end %>

<%= @chart.draw %>

<hr />

<h2>Flight Details</h2>

[add traveler link]

<% if @event.travelers.any? %>
	<% @event.travelers.each do |traveler| %>
		<div class="row traveler-itinerary" id="s-<%= traveler.id %>">

      <div class="col-md-12 traveler-name">    
  			<h3><%= traveler.traveler_name %>&ensp;<small><%= traveler.traveler_note %></small></h3>
        <% if current_user?(@event.user) %>
          <div class="btn-group">
            <%= link_to("<span class=\"glyphicon glyphicon-pencil\"></span> <span class=\"glyphicon glyphicon-user\"></span>".html_safe, edit_traveler_path(traveler), title: "Edit #{traveler.traveler_name}", class: "btn btn-default") %>
            <%= link_to("<span class=\"glyphicon glyphicon-plus\"></span> <span class=\"glyphicon glyphicon-plane\"></span>".html_safe, new_flight_path(traveler: traveler), title: "Add a new flight to #{traveler.traveler_name}’s itinerary", class: "btn btn-default") %>
          </div>
        <% end %>
  		</div>
		
  		<div class="col-md-6 traveler-flights">
        <h4>Arrival</h4>
        <%= render partial: "traveler_flights", locals: { flights: traveler.flights, is_arrival: true } %>
        <% if traveler.pickup_info %>
          <hr/>
          <div class="traveler-info"><%= traveler.pickup_info %></div>
        <% end %>
      </div>
    
      <div class="col-md-6 traveler-flights">
        <h4>Departure</h4>
        <%= render partial: "traveler_flights", locals: { flights: traveler.flights, is_arrival: false } %>
        <hr/>
        <div class="traveler-info">[Departure dropoff info]</div>  
  		</div>
    
    </div>
	<% end %>

<% else %>

<p>No travelers have been added yet. [Add traveler link]</p>

<% end %>