<% provide(:title, @event.event_name)%>
<% provide(:meta_description, "See when everyone arrives at and departs from #{@event.event_name}.")%>

<% if current_user?(@event.user) %>
  <div id="event-edit-share-bar">
    <div class="row justify-content-center">
      
      <div class="col-auto">
        <%= link_to "Edit event details", edit_event_path(@event), class: "btn btn-primary" %> 
      </div>

      <div class="col-auto">
        <%= link_to "Share event with others", @share_link, target: :_blank, class: "btn btn-outline-primary" %>
      </div>
    
    </div>
  </div>

  <% if params[:share_link] %>
    <div class="alert alert-info event-info">Copy this link to share the event with other people: <%= link_to(@share_link, @share_link, class: "share-link") %></div>
  <% end %>

<% end %>

<div class="title">
  <h1><%= @event.event_name %></h1>
  <% if @event.city? %>
    <div class="subtitle"><%= @event.city %></div>
  <% end %>
</div>


<% if @event.note? %>
  <div class="alert alert-info event-info"><%= markdown_text(@event.note) %></div>
<% end %>

<%= @chart.draw %>

<hr />

<h2 id="travelers">Traveler Details</h2>

<% if @event.travelers.any? %>
	
  

  <div class="btn-toolbar">
    <div class="btn-group" role="group" aria-label="Sort Travelers">
      <%= sort_button("Name") %>
      <%= sort_button("Arrival") %>
      <%= sort_button("Departure") %>
    </div>

    <% if current_user?(@event.user) %>
      <div class="btn-group ml-2"><%= link_to("Add new traveler", new_traveler_path(event: @event), title: "Add a new traveler to #{@event.event_name}", class: "btn btn-outline-primary") %></div>
    <% end %>

  </div>
  
  <% @flight_data_by_traveler.each do |traveler_id, traveler| %>
		<div class="traveler-itinerary" id="t-<%= traveler_id %>">

      <div class="row">
        <div class="col-12">        
          <% if current_user?(@event.user) %>
            <div class="btn-group edit-button">
              <%= link_to("Edit traveler", edit_traveler_path(traveler_id), title: "Edit #{traveler[:traveler_name]}", class: "btn btn-sm btn-outline-primary") %> <%= link_to("Add flight", new_flight_search_path(id: traveler_id), title: "Add a new flight to #{traveler[:traveler_name]}’s itinerary", class: "btn btn-sm btn-outline-primary") %>
            </div>
          <% end %>
          <h3><%= traveler[:traveler_name] %>&ensp;<small><%= traveler[:traveler_note] %></small></h3>
          <% if traveler[:traveler_contact_info] %>
            <div class="traveler-contact-info"><%= traveler[:traveler_contact_info] %></div>
          <% end %>
        </div>
      </div>

      <div class="row">
		 
        <%= safe_join([:arrivals, :departures].map{|dir| render partial: "traveler_direction", locals: { traveler_id: traveler_id, traveler: traveler, direction: dir }}) %>

      </div>
      
    </div>
	<% end %>
  
  <% if current_user?(@event.user) %>
    <div class="button"><%= link_to("Add new traveler", new_traveler_path(event: @event), title: "Add a new traveler to #{@event.event_name}", class: "btn btn-outline-primary") %></div>
  <% end %>

<% else %>

  <p>When travelers are added to this event, they will show up here.</p>

  <% if current_user?(@event.user) %>
    <div class="button"><%= link_to("Add new traveler", new_traveler_path(event: @event), title: "Add a new traveler to #{@event.event_name}", class: "btn btn-outline-primary") %></div>
  <% end %>

<% end %>