<% provide(:title, @event.event_name)%>
<h1><%= @event.event_name %></h1>

<% if current_user?(@event.user) %>
  <div class="center">
	 <%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span> Edit #{@event.event_name} information".html_safe, edit_event_path(@event), class: "btn btn-primary" %> 
  </div>
<% end %>

<% draw_charts %>

<h2>Arrivals</h2>

<% if current_user?(@event.user) %>
  <%= link_to "<span class=\"glyphicon glyphicon-plus\"></span> Add a traveler’s arrival itinerary".html_safe, new_section_path(event: @event, direction: :arrival), class: "btn btn-success" %>
<% end %>

<%= render 'itineraries', itineraries: @arrivals %>

<h2>Departures</h2>

<% if current_user?(@event.user) %>
  <%= link_to "<span class=\"glyphicon glyphicon-plus\"></span> Add a traveler’s departure itinerary".html_safe, new_section_path(event: @event, direction: :departure), class: "btn btn-success" %>
<% end %>

<%= render 'itineraries', itineraries: @departures %>