<% provide(:title, "Add New Flight") %>

<h1>
  Add New Flight<br/>
  <small>for <span class="subtitle-emphasis"><%= @traveler.traveler_name %></span> in <span class="subtitle-emphasis"><%= @event.event_name %></span></small>
</h1>

<div class="row justify-content-center">
<div class="col-md-8">
<%= form_tag(new_flight_select_path(id: @traveler.id), method: :post) do %>
  
  <div class="form-row mb-4">

    <div class="col">
      <div class="form-check">
        <%= radio_button_tag(:is_event_arrival, true, params[:is_event_arrival] ? params[:is_event_arrival] == "true" : true, class: "form-check-input") %>
        <%= label_tag(:is_event_arrival_true, "<strong>Arrival</strong>".html_safe + " – this flight brings #{@traveler.traveler_name} to #{@event.event_name}", class: "form-check-label") %>
      </div>
      <div class="form-check">
        <%= radio_button_tag(:is_event_arrival, false, params[:is_event_arrival] ? params[:is_event_arrival] != "true" : false, class: "form-check-input") %>
        <%= label_tag(:is_event_arrival_false, "<strong>Departure</strong>".html_safe + " – this flight takes #{@traveler.traveler_name} home from #{@event.event_name}", class: "form-check-label") %>
      </div>
    </div>
  </div>
  
  <div class="form-row mb-4">
    
    <div class="col-auto">
      <%= label_tag(:airline_code, "Airline code") %>
      <%= text_field_tag(:airline_code, nil, size: 3, maxlength: 3, placeholder: "AA", class: "form-control code airline-code") %>
    </div>
    
    <div class="col-auto">
      <%= label_tag(:flight_number) %>
      <%= text_field_tag(:flight_number, nil, size: 5, maxlength: 5, placeholder: "1234", class: "form-control") %>
    </div>
    
    <div class="col-auto">
      <%= label_tag(:departure_date) %>
      <%= date_field_tag(:departure_date, nil, size: 10, placeholder: "yyyy-mm-dd", class: "form-control") %>
    </div>

  </div>
  
  <div class="form-row">
    <div class="col">
      <%= submit_tag("Find flight", class: "btn btn-primary") %>
    </div>
  </div>

<% end %>
</div></div>

<div class="row">
  <div class="col">
    <p class="center"><%= link_to "Manually add new flight", new_flight_path(traveler: @traveler.id) %>
  </div>
</div>