<div class="row justify-content-center">
	<div class="col-md-6">
		<%= form_for(@airport) do |f| %>
    
			<%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      
      <div class="row">
        <div class="col-auto">
          <%= f.label :iata_code, "IATA code" %>
          <%= f.text_field :iata_code, class: "form-control code airport-code", size: 3, maxlength: 3 %>
        </div>
        <div class="col-auto">
          <%= f.label :icao_code, "ICAO code" %>
          <%= f.text_field :icao_code, class: "form-control code airport-code", size: 4, maxlength: 4 %>
        </div>
      </div>
      
      <%= f.label :timezone %>
      <%= f.select :timezone, Timezones::select_options, {}, {class: "form-control"} %>

      <%= f.submit yield(:form_button), class: "btn btn-primary" %>
      
      <%= f.hidden_field(:needs_review, value: false) %>

		<% end %>

	</div>
</div>