<% provide(:title, 'Edit Airport')%>
<h1>Edit Airport: <%= @airport.iata_code %></h1>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@airport) do |f| %>
    
			<%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      
      <%= f.label :timezone %>
      <%= f.select :timezone, Timezones::select_options %>

      <%= f.submit "Edit Airport", class: "btn btn-primary" %>

		<% end %>

	</div>
</div>