<% provide(:title, 'Airports')%>
<h1>Airports</h1>

<div class="button center"><%= link_to("Manually create new airport".html_safe, new_airport_path, title: "Manually create a new airport", class: "btn btn-outline-primary") %></div>

<div class="row justify-content-center">
<div class="col-md-6">
  
<table class="table">
  <thead>
    <th>IATA Code</th>
    <th>City</th>
    <th>Edit</th>
  </thead>
<% @airports.each do |airport| %>
  <tr>
    <td><%= airport.iata_code %></td>
    <td><%= airport.name %></td>
    <td>
      <% if airport.needs_review %>
        <%= link_to "Needs Review", edit_airport_path(airport), class: "badge badge-warning" %>
      <% else %>
        <%= link_to "Edit", edit_airport_path(airport) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

</div>
</div>