<% provide(:title, 'Airports')%>
<h1>Airports</h1>

<div class="button center"><%= link_to("Manually create new airport".html_safe, new_airport_path, title: "Manually create a new airport", class: "btn btn-outline-primary") %></div>

<div class="row justify-content-center">
<div class="col">
  
<table class="table">
  <thead>
    <th>City</th>
    <th>IATA</th>
    <th>ICAO</th>
    <th>Timezone</th>
    <th></th>
  </thead>
<% @airports.each do |airport| %>
  <tr class="<%= tr_class_needs_review(airport.needs_review) %>">
    <th scope="row"><%= airport.name %></td>
    <td><%= airport.iata_code %></td>
    <td><%= airport.icao_code %></td>
    <td><%= airport.timezone %></td>
    <td class="review-edit">
      <% if airport.needs_review %>
        <%= link_to "Needs Review", edit_airport_path(airport), class: "badge badge-warning" %>
      <% else %>
        <%= link_to "Edit", edit_airport_path(airport) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

</div>
</div>