<% provide(:title, "Edit Airline")%>
<h1>Edit Airline: <%= @airline.iata_code %></h1>

<div class="row justify-content-center">
	<div class="col-md-6">
		<%= form_for(@airline) do |f| %>
    
			<%= render "shared/error_messages", object: f.object %>
      
      <div class="row">
        <div class="col">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      
      <div class="row">
        <div class="col-auto">
          <%= f.label :iata_code, "IATA code" %>
          <%= f.text_field :iata_code, class: "form-control code airline-code", size: 2, maxlength: 2 %>
        </div>
        <div class="col-auto">
          <%= f.label :icao_code, "ICAO code" %>
          <%= f.text_field :icao_code, class: "form-control code airline-code", size: 3, maxlength: 3 %>
        </div>
      </div>

      <%= f.hidden_field(:needs_review, value: false) %>

      <%= f.submit "Edit Airline", class: "btn btn-primary" %>

		<% end %>

	</div>
</div>