<% provide(:title, 'Airlines')%>
<h1>Airlines</h1>

<div class="row justify-content-center">
<div class="col-md-6">
  
<table class="table">
  <thead>
    <th>IATA Code</th>
    <th>Name</th>
    <th>Edit</th>
  </thead>
<% @airlines.each do |airline| %>
  <tr>
    <td><%= airline.iata_code %></td>
    <td><%= airline_icon(airline.iata_code, show_blank_icon: true) %> <%= airline.name %></td>
    <td>
      <% if airline.name.nil? %>
        <%= link_to "Needs Review", edit_airline_path(airline), class: "badge badge-warning" %>
      <% else %>
        <%= link_to "Edit", edit_airline_path(airline) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

</div>
</div>