<% provide(:title, 'Airlines')%>
<h1>Airlines</h1>

<div class="row justify-content-center">
<div class="col-md-8">
  
<table class="table">
  <thead>
    <th class="airline-logo">Logo</th>
    <th>Airline</th>
    <th>IATA</th>
    <th>ICAO</th>
    <th></th>
  </thead>
<% @airlines.each do |airline| %>
  <%= tr_open_needs_review(airline.needs_review) %>
    <td class="airline-logo"><%= airline_icon(airline.iata_code, show_blank_icon: true) %></td>
    <th scope="row"><%= airline.name %></td>
    <td><%= airline.iata_code %></td>
    <td><%= airline.icao_code %></td>
    <td class="review-edit">
      <% if airline.needs_review %>
        <%= link_to "Needs Review", edit_airline_path(airline), class: "badge badge-warning" %>
      <% else %>
        <%= link_to "Edit", edit_airline_path(airline) %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

</div>
</div>