<header class="navbar navbar-default">
	<div><div class="container">
		<%= link_to("#{image_tag("logo.png")} Group Itinerary".html_safe, root_path, id: "logo", class: "navbar-brand", title: "Group Itinerary") %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<% if logged_in? %>
					<li><%= link_to "My Events", current_user %></li>
					<li><%= link_to "Settings", edit_user_path(current_user) %></li>
          <% if current_user.admin? %>
            <li><%= admin_link %></li>
          <% end %>
					<li><%= link_to "Log out", logout_path, method: "delete" %></li>
				<% else %>
					<li><%= link_to("Create your own itinerary", signup_path) %></li>
					<li><%= link_to("Log in", login_path) %></li>
				<% end %>
			</ul>
		</nav>
	</div></div>
</header>